{% extends 'base.html' %}

{% block title %}
User || Signin
{% endblock %}

{% block admin_login %}
active
{% endblock %}
{% load static %}

{% block content %}
<section class="mt-4">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row justify-content-md-center  mx-4">
                <div class="col-md-4 bg-light1" style="border-radius: 5%">
                    <form id="" class="m-2" action="{% url 'admins_:admin_login_check' %}" method="POST">
                        {% csrf_token %}
                        <legend align="center">
                            <img src="{% static 'images/crop.png' %}" alt="Admin" width="18%">
                            <br>
                            Admin
                        </legend>
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <center>
                            <button type="submit" class="btn btn-outline-primary m-2">Submit</button>
                            <button type="reset" class="btn btn-outline-danger m-2">Reset</button>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}