{% extends 'users/user_base.html' %}
{% block title %}
User|| Add Data
{% endblock %}
{% block add_data %}
active
{% endblock %}

{% block content %}
<style>


        html body {
            background-color: rgb(206, 206, 228);

        }




</style>
<!--Form Section-->
<br/><br/>
<h2 class="mt-4" style="text-align: center; margin: 0px; color: black">
    <b>Find out the most suitable crop to grow in your farm</b>
</h2>
<br/>
<div style="border-radius: 5%">
    <div style=" width: 350px; height: 50rem; margin: 0px auto; color: black; border-radius: 25px;padding: 10px 10px;">
        <form method="POST" action="{% url 'users_:predict_ML' %}">{% csrf_token %}
            <div class="form-group">
                <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen</b></label>
                <input type="number" class="form-control" id="Nitrogen" name="nitrogen"
                       placeholder="Enter the value (below 99)" style="font-weight: bold" required/>
            </div>
            <div class="form-group">
                <label for="Phosphorous" style="font-size: 17px"><b>Phosphorous</b></label>
                <input type="number" class="form-control" id="Phosphorous" name="phosphorous"
                       placeholder="Enter the value (below 99)" style="font-weight: bold" required/>
            </div>

            <div class="form-group">
                <label for="Pottasium" style="font-size: 17px"><b>Pottasium</b></label>
                <input type="number" class="form-control" id="Pottasium" name="pottasium"
                       placeholder="Enter the value (below 99)" style="font-weight: bold" required/>
            </div>
            <div class="form-group">
                <label for="Rainfall" style="font-size: 17px"><b>Rainfall (in mm)</b></label>
                <input type="number" step="0.01" class="form-control" id="Rainfall" name="rainfall"
                       placeholder="Enter float value(below 230)" style="font-weight: bold" required/>
            </div>
            <div class="form-group">
                <label for="ph" style="font-size: 17px"><b>ph level</b></label>
                <input type="number" step="0.01" class="form-control" id="ph" name="ph"
                       placeholder="Enter float value(below 7.5)"
                       style="font-weight: bold" required/>
            </div>
            <div class="form-group">
                <label for="State" style="font-size: 17px "><b>State</b></label>
                <select onchange="print_city('state', this.selectedIndex);" id="sts" name="stt"
                        class="form-control" style="font-weight: bold; color: black" required="">
                    <option value="">Select State</option>
                    <option value="Andaman &amp; Nicobar">Andaman &amp; Nicobar</option>
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chandigarh">Chandigarh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Dadra &amp; Nagar Haveli">Dadra &amp; Nagar Haveli</option>
                    <option value="Daman &amp; Diu">Daman &amp; Diu</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jammu &amp; Kashmir">Jammu &amp; Kashmir</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Lakshadweep">Lakshadweep</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Orissa">Orissa</option>
                    <option value="Pondicherry">Pondicherry</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttaranchal">Uttaranchal</option>
                    <option value="West Bengal">West Bengal</option>
                </select>
                <br/>
                <script language="javascript">
                        print_state("sts");


                </script>
            </div>

            <div class="d-flex justify-content-center">
                <button
                        type="submit"
                        class="btn btn-info"
                        style="color: white; font-weight: bold; width: 130px; height:50px; border-radius:12px; font-size: 21px;">
                    Predict
                </button>
            </div>
        </form>
        <center>
            {{result}}
        </center>
    </div>

</div>
<br><br><br><br><br><br><br><br><br>
<!-- Form section -->


{% endblock %}
