{% extends 'users/user_base.html' %}

{% block title %}
    User|| plotting
{% endblock %}
{% block plotting %}
    active
{% endblock %}

{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
 <section id="intro">

    <div class="intro-text">
<!--        <div class="container" style="margin-top:-200px;">-->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br/><br/>
        <div>
      <p><h3 align="center" style="color:green;font-weight:bold;">Algorithm Accuracy Comparision Chart</h3></p>
      <!--<a href="#about" class="btn-get-started scrollto">Get Started</a>-->
        <center>
        {{ll|safe}}
            </center>
            </div>
    </div>
  </section>
{%endblock%}