{% extends 'users/user_base.html' %}

{% block title %}
    User || Home
{% endblock %}

{% block user_home %}
    active
{% endblock %}
{% block content %}

    <section>

        <nav aria-label="breadcrumb">
            <br><br><br><br><br><br><br><br>

            <ol class="breadcrumb bg-info" style="color: white;">

                <li class="breadcrumb-item nav-link" aria-current="page">
                    {{ request.session.username|capfirst }} Here.
                </li>
            </ol>
            <br><br><br><br><br><br><br><br><br><br><br>
        </nav>

        <div class="jumbotron">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </section>

{% endblock %}